body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    background-color: skyblue;
    padding: 5px;
    height: 500px;
    width: 500px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.footer {
    width: 500px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media (max-width:600px) {

    .main-container {
        padding: 5px;
        height: 400px;
        width: 300px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        width: 300px;
    }
}

.input {
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10%;
}   
.label {
    display: none;
    font-size: 15px;
    font-weight: bold;
}
.mode {
    display: none;
    font-weight: bold;
}
.time{
    width: 230px;
    height: 40px;
}
.play-button{
    width: 100px;
    height: 100px;
    font-weight: bold;

}
.reset-button{
    display:none;
    width: 100px;
    height: 100px;

}
.output-1{
    border: 2px 2px black;
    border: 2px  black solid ;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    
    background-color: whitesmoke;
    transition: transform 0.2s ease, background-color 0.2s ease;
}
.output-1.active{
    transform: scale(1.5);
}

.output-2{
    border: 2px  black solid ;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;

    background-color: whitesmoke;

    transition: transform 0.5s ease, background-color 0.5s ease;
}
.output-2.active{
    transform: scale(1.5);
}

.output-label-1{
    background-color: whitesmoke;
    border-radius: 15px;
    font-weight: bold;
}

.output-label-2{
    background-color: whitesmoke;
    border-radius: 15px;
    font-weight: bold;
}

select {
    font-size: 15px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10%;
    font-weight: bold;
}

.after-button{
    display: none;
    background-color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    animation: after-button 2s infinite;

}
@keyframes after-button {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* .output{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    width: 300px;
    height: 50px;
    border-radius: 15px;
}
