body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    background-color: skyblue;
    padding: 20px;
    height: 400px;
    width: 500px;
    border-radius: 15px;
}

.time{
    background-color: whitesmoke;
    width: 200px;
    height: 50px;
}
.play-button{
    width: 100px;
    height: 100px;

}
.output-1{
    border: 2px 2px black;
    border: 2px  black solid ;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    
    background-color: whitesmoke;
}

.output-2{
    border: 2px  black solid ;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;

    background-color: whitesmoke;
}

.output-label-1{
    background-color: whitesmoke;
    border-radius: 15px;
}

.output-label-2{
    background-color: whitesmoke;
    border-radius: 15px;
}

select {
    font-size: 15px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10%;
}

.after-button{
    display: none;
    background-color: whitesmoke;
    font-size: 30px;
    animation: after-button 2s infinite;
}
@keyframes after-button {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* .output{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    width: 300px;
    height: 50px;
    border-radius: 15px;
}
